# Projects specific
/**/.idea
/**/.gradle
/**/*.iml
/**/gradlew
/**/gradlew.bat
/**/gradle
/**/project

# Build
/**/build
/**/out
/**/target

# Gradle
local.properties

# Application Run-time
/vaults
/logs
PASSHA*.log
settings.passha
/**/*.pvp